.offer-list-container {
    width: 90%;
    max-width: 1300x;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.filters {
    /* display: flex; */
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: start; 
    margin-top: 1%;
    margin-left: 5%;
  }
  
  .filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-left: 2%;
  }

  .filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-left: 2%;
  }