.header {
  display: flex;
  border: 1px solid #b2d3f4;
  justify-content: center;
}

.card-title {
  color: white !important;
  margin-right: 50%;
  
}


.element {
  font-size: 30px;
  color: white;
  margin-left: 10%;
}

.sidebar {
  position: fixed;
  width: 12%;
  height: 100vh;
  background: #ebeaea;
  font-size: 0.85em;
}

.table-candidates {
  position: relative;
  width: 88%;
  float: right;
  height: 100%;

}

.nav {
  margin-top: 15%;
  font-weight: bold;
}

.nav-item.active {
  background-color: #007bff;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

.modal-content .modal-header {
  border-bottom: none;
}

.modal-header .modal-title {
  font-size: 35px;
  font-family: sans-serif;
}

.modal-content {
  justify-content: center;
}

.modal-content {
  padding: 0 50px;
}

.modal-body h6 {
  color: gray;
  font-size: 14px;
}

.modal-body h5 {
  color: black;
  font-size: 18px;
}

.modal-body-abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.modal-ability {
  display: inline-block;
  background-color: #2E81FB;
  margin: 0 10px 8px;
  border-radius: 20px;
  padding: 8px;
  color: white;
}

.section-figure {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
}

.figure {
  width: 210px;
  height: 210px;
  background-color: #2E81FB;
  margin-right: 30px;
}

.carrusel-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.carrusel-slide {
  width: 300px;
  text-align: center;
}

.carrusel-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrusel-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrusel-button:hover {
  background-color: #0056b3;
}